body {
  background-image: url(images/backgroundimage.jpg);
  background-size: cover;

}

@font-face {
    font-family: 'Myriad Apple';
    src: url('fonts/MyriadApple-Text.woff2') format('woff2'),
        url('fonts/MyriadApple-Text.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.button {
    background-color: rgba(216, 244, 255, 0.5);
    border-style: none;
    border-radius: 5px;
    text-decoration:none;
    box-shadow: 2px 2px 2px black;
}
.button:hover {
    box-shadow: 4px 4px 4px black;
}
.button:active {
    box-shadow: 1px 1px 1px black;
}

#nextbutton {
    background-color: rgba(216, 244, 255, 0.5);
    border-style: none;
    border-radius: 5px;
    text-decoration:none;
    box-shadow: 2px 2px 2px black;
    font-family: "Myriad Apple";
}
#nextbutton:hover {
    box-shadow: 4px 4px 4px black;
}
#nextbutton:active {
    box-shadow: 1px 1px 1px black;
}


a {
    text-decoration:none;
    font-family: "Myriad Apple";
    color: rgb(40, 42, 43);;

}
a:visited {
    color: rgb(40, 42, 43);;
}

#pagetitle {
    font-family: "Myriad Apple";
    font-weight: bold;
    
    color: rgb(40, 42, 43);
}
#subtitle {
    font-family: "Myriad Apple";
    font-weight: bold;
    font-size: 15px;
    color: rgb(40, 42, 43);
}
#text {
    font-family: "Myriad Apple";
    
    color: rgb(40, 42, 43);
}

.heading {
    display:grid;
    place-items:center;
    background-color:rgba(172, 232, 255, 0.5);
    border-color: rgba(255,255,255,0.6);
    border-style:solid;
    margin-bottom: 50px;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    padding:15px;

    
}
#about {
    text-align:center;
    background-color:rgba(172, 232, 255, 0.5);
    border-color: rgba(255,255,255,0.6);
    border-style:solid;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    padding:15px;
}
#buildings {
    text-align:center;
    
    background-color:rgba(172, 232, 255, 0.8);
    border-color: rgba(255,255,255,0.6);
    
    border-style:solid;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;

}

#animating {
    text-align:center;
    
    background-color:rgba(172, 232, 255, 0.8);
    border-color: rgba(255,255,255,0.6);
    
    border-style:solid;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;

}
#text {
    opacity: 1;
}
#image {
    width:700px;
    height:auto;
    border-style:solid;
    border-color:rgba(255,255,255,0.6);
    border-radius:10px;
    margin-top: 10px;
}

.cell {
    max-width: 50%;
    height:auto;
    border-style:solid;
    border-color:rgba(255,255,255,0.8);
    background-color:rgba(172, 232, 255, 0.9);
    border-radius:10px;
    margin-top: 10px;
    display: block;
    max-width: 100%;
    align-items: center;
}

.gridimage {
    max-width: 98%;
    
    height: auto;
    display: block;
    margin: 5px auto;
    border-radius: 10px;
}

#buildingsgrid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.switcharea {
    text-align:center;
    
    background-color:rgba(172, 232, 255, 0.8);
    border-color: rgba(255,255,255,0.6);
    
    border-style:solid;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.panel.active {
    display:block;
}
.panel {
    display:none;
}

#video {
    width: auto;
    height: 400px;
    border-radius: 10px;
}